* {
    font-family: 'Raleway';
}

h1 {
    font-weight: 300;
}

/* Navbar */
.navbar {
    position: fixed;
    z-index: 1;
    width: 100vw;
}

#logo-nav {
    height: 25px;
}

.navbar-nav {
    font-weight: 300;
}


/* Nosotros */
#nosotros-section {
    background-color: black;
    font-weight: 300;
}


/* Destacados */
#destacados-section {
    background-color: black;
    font-weight: 300;
}