* {
    font-family: 'Raleway';
}

html {
    scroll-behavior: auto !important;
}

h1 {
    font-weight: 300;
}

/* Navbar */
.navbar {
    position: fixed;
    z-index: 1;
}

#logo-nav {
    height: 25px;
}

.navbar-nav {
    font-weight: 300;
}

.carousel-control-next,
.carousel-control-prev{
    z-index: auto;
}


/* Nosotros */
#nosotros-section {
    background-color: black;
    font-weight: 300;
}


/* Destacados */
#destacados-section {
    background-color: black;
    font-weight: 300;
}

#destacados-section .card {
    cursor: pointer;
}


/* Contacto */
#contacto-section {
    background-color: black;
    font-weight: 300;
}


/* Footer */
footer a {
    color: #fff;
    text-decoration: none;
    display: inline;
}


/* Tooltips */
/* Cambia el color del fondo de los tooltips de negro a blanco */
.tooltip.show {
    opacity: 1;
}

.tooltip-inner {
    background-color: #fff;
    color: #000;
}

.tooltip.bs-tooltip-right .tooltip-arrow:before {
    border-right-color: #fff !important;
}

.tooltip.bs-tooltip-left .tooltip-arrow:before {
    border-left-color: #fff !important;
}

.tooltip.bs-tooltip-bottom .tooltip-arrow:before {
    border-bottom-color: #fff !important;
}

.tooltip.bs-tooltip-top .tooltip-arrow:before {
    border-top-color: #fff !important;
}